Package: com.yourcompany.vcam
Name: vcam
Version: 0.0.5
Architecture: iphoneos-arm
Description: Virtual camera replacement with an image and video picker for rootful jailbreaks.
Maintainer: vinhnv2507
Author: vinhnv2507
Section: Tweaks
Depends: mobilesubstrate
