Package: com.yourcompany.vcam
Name: vcam
Version: 0.0.1
Architecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: Ethan Arbuckle
Author: Ethan Arbuckle
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
